/Interfaces/nbproject/private/
/Interfaces/build/
/Interfaces/dist/
/Prototype/nbproject/private/
/Prototype/build/
/JavaFXSwingApplication1/nbproject/private/
/JavaFXSwingApplication1/build/
/TreinoProvaPrototype/nbproject/private/
/TreinoProvaPrototype/build/